@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/SF-Pro-Display-Regular.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Regular.woff') format('woff');
}
@font-face {
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/SF-Pro-Display-Bold.woff2') format('woff2'),
         url('../fonts/SF-Pro-Display-Bold.woff') format('woff');
}
@font-face {
    font-family: 'Space Age Cyrillic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/spaceagecyrillic-regular.woff') format('woff'),
         url('../fonts/spaceagecyrillic-regular.ttf') format('truetype');
}
