.about {
    background-image: url('../images/about-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__item {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 150px;
    }
    &__item:nth-child(odd) {
        flex-direction: row-reverse;
    }
    &__img {
        max-width: 100%;
    }
    &__content {
        width: 600px;
    }
    &__content-title {
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 5px;
    }
    &__content-subtitle {
        font-size: 12px;
        line-height: 14px;
        font-weight: 400;
        color: $blue-color;
        margin-bottom: 31px;
        text-transform: uppercase;
    }
    &__content-text {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        p {
            width: 165px;
        }
    }
    &__table {
        margin-bottom: 50px;
    }
    &__table-tr {
        border: 1px solid #fff;
        border-left: none;
        border-right: none;
    }
    &__table-tr + .about__table-tr {
        font-size: 36px;
        line-height: 43px;
        font-weight: 700;
        text-align: center;
    }
    &__table-td {
        padding: 10px 30px 10px 0;
        span {
            font-size: 14px;
            line-height: 17px;
            display: block;
        }
    }
    &__button {
        font-size: 18px;
        line-height: 21px;
    }
    &__table-caption {
        caption-side: bottom;
        text-align: left;
        margin-top: 20px;
        font-size: 12px;
        line-height: 14px;
    }
}