.menu {
    &__list {
        display: flex;
    }
    &__item {
        margin-right: 30px;
        transition: color 0.3s;
        padding: 3px;
        &:last-child {
            margin-right: 0;
        }
        &:hover {
            color: $red-color;
        }
    }
    &__link {
        font-size: 18px;
        line-height: 21px;
        text-transform: uppercase;
    }
    &-btn {
        display: none;
        width: 40px;
        background-color: transparent;
        border: none;
        padding: 0;
        position: relative;
        z-index: 20;
        cursor: pointer;
        height: 30px;
        span {
            display: block;
            height: 2px;
            background-color: #fff;
            position: relative;
            &::before,
            &::after {
                content: "";
                position: absolute;
                width: 40px;
                height: 2px;
                background-color: #fff;
                left: 0;
            }
            &::before {
                top: -10px;
            }
            &::after {
                top: 10px;
            }
        }
    }
}