.to-book {
    background-image: url('../images/tobook-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__text {
        width: 165px;
        font-size: 14px;
        line-height: 17px;
        margin: 100px 52px 0 auto;
    }
    &__text + .to-book__text {
        margin-right: 0;
        margin-left: 0;
    }
}